<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/fragments :: source-includes">
    <div th:replace="fragments/fragments :: header"> </div>

    <title>Usuários</title>

    <script th:if='${currentUser.role.equals("ADMIN")}' th:inline="javascript">
        /*<![CDATA[*/
        var users = /*[[${users}]]*/ 'users';
        /*]]>*/
        function userStatusButton(user) {
            if (user["enabled"]) {
                return '<a style="color: #198754" href="/switchuserstatus?id=' + user["id"] + '">Ativo</span></a>';
            } else {
                return '<a style="color: #dc3545" href="/switchuserstatus?id=' + user["id"] + '">Inativo</span></a>';
            }
        }
    </script>

    <script th:unless='${currentUser.role.equals("ADMIN")}' th:inline="javascript">
        function userStatusButton(user) {
            if (user["enabled"]) {
                return 'Ativo';
            } else {
                return 'Inativo';
            }
        }
    </script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        var users = /*[[${users}]]*/ 'users';
        /*]]>*/

        $(document).ready(function () {
            var table = $('#usersTable').DataTable({
                "data": users,
                "sAjaxDataProp": "",
                "oLanguage": oLanguage,
                "pageLength": 50,
                "aoColumns": [
                    { "mData": "id" },
                    { "mData": "username" },
                    { "mData": "registrationNumber" },
                    {
                        "mRender": function (data, type, full) {
                            return userStatusButton(full);
                        }, "orderable": false
                    },
                    {
                        "mRender": function (data, type, full) {
                            return '<a class="b4 btn-sm" type="button" href="/alteruser?id=' + full["id"] + '">Alterar</a>';
                        }, "orderable": false
                    },
                    {
                        "mRender": function (data, type, full) {
                            return '<a class="b2 btn-sm" type="button" href="/deleteuser?id=' + full["id"] + '"">Excluir</a>';
                        }, "orderable": false
                    }
                ]
            });
        });
    </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

<body>
    <div class="d-flex flex-column wrapper">

        <td th:switch="${status}">

            <span th:case="deleted">

                <div id="moo" class="alert alert-success alert-dismissible show fade" role="alert" auto-close="4000">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>
                    Usuário deletado com sucesso!
                </div>

            </span>

            <span th:case="altered">

                <div id="moo" class="alert alert-success alert-dismissible show fade" role="alert" auto-close="4000">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>
                    Usuário alterado com sucesso!
                </div>

            </span>

            <span th:case="created">

                <div id="moo" class="alert alert-success alert-dismissible show fade" role="alert" auto-close="4000">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>
                    Usuário criado com sucesso!
                </div>

            </span>

            <span th:case="user_not_found">

                <div id="moo" class="alert alert-danger alert-dismissible show fade" role="alert" auto-close="4000">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>
                    Usuário não encontrado
                </div>

            </span>

            <span th:case="user_already_exists">

                <div id="moo" class="alert alert-danger alert-dismissible show fade" role="alert" auto-close="4000">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>
                    O usuário não pôde ser criada/editada pois já há outro usuário
                    com o mesmo nome, por favor, escolha outro nome.
                </div>

            </span>

            <span th:case="user_passwords_dont_match">

                <div id="moo" class="alert alert-danger alert-dismissible show fade" role="alert" auto-close="4000">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>
                    Senha do usuario errada!
                </div>

            </span>

        </td>
        <div class="container">
            <div class="pb-2 mt-4 mb-4 border-bottom title">
                <label class="lb-lg">
                    <h2>Usuários</h2>
                </label>
                <button th:if='${currentUser.role.equals("ADMIN")}' onclick="location.href='admincreateuser';"
                    class="b3 float-right btn-sm button-new">Criar
                    usuário</button>
            </div>

        </div>

        <div class="container flex-fill">
            <div class="justify-content-center">
                <table id="usersTable" class="table table-striped table-hover table-fit2 table-sm text-center">
                    <caption>Tabela de usuários</caption>
                    <thead class="text-white" style="background-color:black;">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Matrícula</th>
                            <th scope="col">Status</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <br><br><br>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>

    </div>
</body>

<div th:replace="fragments/fragments :: footer"> </div>


</html>