/build/
/target/
/bin/
.settings/org.eclipse.jdt.apt.core.prefs
.vs/
/nbproject/
.classpath
.factorypath
.project
.settings/
# src/main/resources/application.properties
.fake
.ionide
.devcontainer/
Snap*
javacore*
src/main/webapp/WEB-INF/.DS_Store
src/main/webapp/WEB-INF/images/repo/
*.dmp